body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container-carrito {
    position: relative;
    top: 12rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    bottom: 15rem;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.product {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.add-to-cart {
    padding: 8px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart:hover {
    background-color: #45a049;
}

.cart {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart h2 {
    margin-bottom: 15px;
}

.cart-items li {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}


.remove-from-cart {
    position: relative;
    left: 1rem;
    padding: 8px 20px;
    background-color: #ff6347; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.remove-from-cart:hover {
    background-color: #ff3b20; 
}

.continue-shopping {
    padding: 8px 20px;
    background-color: #007bff; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.continue-shopping:hover {
    background-color: #0056b3; 
}

.continue-shopping-button {
    margin: 2rem 0 2rem 0;
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6347;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.continue-shopping-button:hover {
    background-color: #ff3b20;
}

.continue-shopping-button:active {
    background-color: #398438;
}

/*BTN PAGAR*/
.pay button{
    margin-top: 2%;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 0.8em 0.9em;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
  }