body {
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif;
}

.container-carrito {
    position: relative;
    top: 12rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000000bd; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    bottom: 15rem;
    color: #ffffff;
    border-bottom: solid 5px #f6be00;
    border-left: solid 5px #f6be00;
    border-right: solid 5px #f6be00;
    border-top: solid 5px #f6be00;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.product {
    background-color: #f9f9f9; 
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.add-to-cart {
    padding: 8px 20px;
    background-color: #4CAF50; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart:hover {
    background-color: #45a049; 
}

.cart {
    margin-bottom: 2rem;
    margin-top: 30px;
    padding: 20px;
    background-color: #717232; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart h2 {
    margin-bottom: 15px;
}

.cart-items li {
    color: #ffffff; 
    font-weight: bold; 
    font-size: 16px; 
    text-transform: uppercase; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    width: 100%;
    height: 90px;
    background-color: #0c1922e8;
    border-bottom: solid 5px #f6be00;
    border-left: solid 5px #f6be00;
    border-right: solid 5px #f6be00;
    border-top: solid 5px #f6be00;
    margin-bottom: 10px; 
}

.remove-from-cart {
    position: relative;
    left: 1rem;
    padding: 8px 20px;
    background-color: #f0ff48; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.remove-from-cart:hover {
    background-color: #e5ff0000; 
}

.continue-shopping {
    padding: 8px 20px;
    background-color: #007bff; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.continue-shopping:hover {
    background-color: #c0ff04; 
}

.continue-shopping-button {
    margin: 2rem 0 2rem 0;
    display: inline-block;
    padding: 10px 20px;
    background-color: #dbff4c; 
    color: white; 
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.continue-shopping-button:hover {
    background-color: #f2ff00; 
}

.continue-shopping-button:active {
    background-color: #398438;
}

.total-amount{
    padding-top: 2rem;
}

/*BTN PAGAR*/
.pay{
    margin-top: 2%;
    background-color: #dee112; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 0.8em 0.9em;
    width: 8%;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.pay h1{
    font-size: 1.2rem;
}

.pay a{
    color: inherit;
    text-decoration: none;
}

.pay:hover{
    background-color: #ff0000; 
}


.remove-from-cart,
.continue-shopping-button,
.pay button {
    color: #fff; 
    font-weight: bold; 
    font-size: 16px; 
    text-transform: uppercase; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}


.remove-from-cart {
    background-color: #ff0000; 
}

.continue-shopping-button {
    background-color: #f6be00; 
}

.pay button {
    background-color: #f6be00; 
}



.continue-shopping-button:hover,
.pay button:hover {
    background-color: #0095ff; 
}

.remove-from-cart:hover{
    background-color: #ff0000a4;
}

/* CSS */
.vaciar-carrito-button {
    color: #fff; 
    font-weight: bold; 
    font-size: 16px; 
    text-transform: uppercase; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.vaciar-carrito-button:hover {
    background-color: #ff0000a4; 
}

.vaciar-carrito-button{
    background-color: #ff0000;
}






