/*CATEGORIAS*/
.titulos-section{
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.contenedor-titulo {
    font-size: 24px;
    margin-top: 15.5%;
    padding-left: 33%;   
    padding-bottom: 3%;
}

    /*Contenedores de las categorias*/
.categorias{
    width: 70%;
    margin: 0 auto;
    border: 5px solid rgba(0, 0, 0, 0.39);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    align-items: center; 
    margin-bottom: 5rem;
}
.post-categoria{
    width: 180px;
    margin: 10px;
    background-color: rgba(169, 169, 169, 0.829); 
    border-radius: 0.5rem;
    padding: 0.3rem 0;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    text-align: center;
}
.post-categoria:hover {
    box-shadow: 0 0.1rem 0.5rem rgba(0,0,0,3);
}
section article h2{
    margin: 1rem;
    text-align: center;
}
.no-underline {
    text-decoration: none;
    color: inherit;
}

   
/*CONTENEDOR DE PRODUCTOS*/
.div-productos {
    width: 30%; 
    float: left;
    box-sizing: border-box;
    padding: 10px; 
    display: block;
  }

.productos {
    padding-top: 5rem;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding-left: 7rem;
}

.no-underline {
    text-decoration: none;
    color: inherit;
}

.productos article {
    max-width: 400px;
    width: 100%; 
    max-height: 380px; 
    overflow: hidden; 
    transition: box-shadow 0.3s ease;
    background-color: #ffffff8c;
    border: 1px solid #000000;
    border-radius: 0.5rem;
    padding: 0.2rem 0;
    cursor: pointer;
}

.productos article img {
    display: block;
    margin: 0 auto; 
  }
  

.productos article:hover {
    box-shadow: 0 0.1rem 0.5rem rgba(0,0,0,3);
}