* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px; 
}



/*Paleta de colores: */
.color1 {color: #f6be00;}
.color2 {color: #0c1922;}
.color3 {color: #ffff}


.contenedor-nav{
    display: flex;
    align-items: center;
}

.BarraFondo {
    width:  100%;
    height: 90px;
    background-color: #0c1922;
    border-bottom: solid 5px #f6be00;
    position: absolute;
}
.contenedor2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative; 
}
.circulo {
    width: 200px;
    height: 180px;
    border-radius: 50%;
    background-color: #0c1922;
    border: solid 5px #f6be00;
    position: absolute;
    top: 6rem;
}

.contenedor3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.CuadradoFondo {
    width: 200px;
    height: 180px;
    background-color: #0c1922;
    padding-bottom: 2px;
    position: absolute;
    top: 0px;
    border-left: solid 5px #f6be00;
    border-right: solid 5px #f6be00;
}

.LogoPrincipal {
    display: flex;
    position: absolute;
    width: 200px;
    height: 200px;
    left: 50%;
    top: 2rem;
    z-index: 1;
    transform: translateX(-50%);
}

header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*MENU ACCESO*/
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
  display: none; 
  
}

#menu {
  position: fixed;
  top: 21%;
  left: 79%;
  width: 250px;
  transform: translate(-50%, -50%);
  background-color: #fff; 
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  z-index: 1000; 
  display: none; 
}

#menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

#menu ul li a{
  text-decoration: none;
  color: inherit; 
}

#menu ul li {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 15px;
  text-decoration: none;
  color: inherit; 
  border: 1px solid rgba(24, 18, 18, 0.61);
}

.hidden {
  display: none;
}


#overlay-registro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
  display: none; 
  
}

#menu-registro {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 600px;
  transform: translate(-50%, -50%);
  background-color: #fff; 
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  z-index: 1000; 
  display: none; 
}

#menu-registro ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

#menu-registro ul li a{
  text-decoration: none;
  color: inherit; 
}

#menu-registro ul li {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 15px;
  text-decoration: none;
  color: inherit; 
  border: 1px solid rgba(24, 18, 18, 0.61);
}

.hidden-registro {
  display: none;
}

/* DESTACADO */
.tittle-clothes{
  position: absolute;
  padding-left: 13%;
  padding-top: 18%;
  font-size: 1.5rem;
}

.container {
    max-width: 1100px;
    width: 95%;
    margin: 0 auto;
    padding-top: 8%;
}
  
  .slider-wrapper {
    position: relative;
  }
  
  .slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  
  .slider-wrapper .slide-button:hover {
    background: #404040;
  }
  
  .slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
  }
  
  .slider-wrapper .slide-button#next-slide {
    right: -25px;
  }
  
  .slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 16px;
    font-size: 0;
    list-style: none;
    margin-top: 250px;
    margin-bottom: 50px;
    overflow-x: auto;
    scrollbar-width: none;
  }
  
  .slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
  }
  
  .slider-wrapper .image-list .image-item {
    border: solid 2px black;
    border-radius: 10px;
    width: 325px;
    height: 300px;
    object-fit: cover;
  }
  
  .container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    display: none;
  }
  
  .slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 12px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
  }
  
  .slider-scrollbar:hover .scrollbar-track {
    height: 14px;
  }
  
  .slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
  }
  
  .slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 12px;
    top: 1px;
  }
  
  .slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
  }

/*MENU:*/
/*MENU DESPLEGABLE*/
.desplegable{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.desplegable li{
    display: inline-block;
    position: relative; 
}

.desplegable li a{
    display: block;
    text-decoration: none;
    color: inherit; 
}

.desplegable li:hover ul{
    display: block;
}

.desplegable ul{
    display: none;
    position: absolute;
    background-color: #0c1922;
    border: 1px solid #dddddd00;
    padding: 0;
    margin: 0;
    margin-top: 4.5rem;
    margin-left: 1.5rem;
    border-right: solid 5px #f6be00;
    border-left: solid 5px #f6be00;
    border-bottom: solid 5px #f6be00;
}
.desplegable ul li{
    display: block;
    margin-top: 2rem; 
}
.desplegable ul li a {
    padding: 2px 15px;
    font-size: 20px;
    text-align: center;  
    color: #f6be00;
}
.desplegable ul li a:hover{
  color: rgb(151, 0, 0); 
}

.desplegable ul ul {
    width: 200%;
}

/*BUSCADOR*/
.menu-buscador{
    margin-left: auto;
    position: relative; 
    margin-bottom: 3rem;
    margin-left: 20rem;
}
.buscador {
    margin: 2rem;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

/*MENU*/
.Nav1 li a{
    float: left;
    margin: 0;
    position: relative;
    top: -2rem;
}

/*ACCESO*/
.Nav2 ul a{
  top: -25px;
  position: relative;
}

/*CARRITO*/
.Nav3{
    margin-left: auto;
    position: relative; 
    margin-bottom: 3rem;   
    padding-right: 5rem;
}

.Nav1 ul a, .Nav2 ul a{
  padding: 3rem 3rem 2rem 3rem;
  font-size: 24px; 
  cursor: pointer;
  text-decoration: none;
  color:#f6be00;
  transition: background-color 0,3s;
}

.Nav1 ul a:hover, .Nav2 ul a:hover{
  color: rgb(151, 0, 0); 
}

/*INFORMACION:*/
.informacion{
  width: 60%;
  margin: 0 auto;
}

.info-titulo{
  padding-top: 20%;
  padding-bottom: 1rem;
}
.info-descripcion{
  padding-bottom: 20%;
}

/*FOOTER:*/
footer{
  width:  100%;
  height: 90px;
  background-color: #0c1922;
  border-top: solid 5px #f6be00;
  position: absolute;
}

.pie-pagina{
  display: flex;
  align-items: center;
}

.contact, .quienes-somos, .ayuda, .siguenos{
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 auto; 
  font-size: 12px;
  padding: 1rem;
}

body {
  background-image: url(image/Fondo.jpg);
  background-size: cover;
  background-attachment: fixed;
}


@media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
      display: none !important;
    }
  
    .slider-wrapper .image-list {
      gap: 10px;
      margin-bottom: 15px;
      scroll-snap-type: x mandatory;
    }
  
    .slider-wrapper .image-list .image-item {
      width: 280px;
      height: 380px;
    }
  
    .slider-scrollbar .scrollbar-thumb {
      width: 20%;
    }
  }